$primary: #e9e9e9;
$primary-hover: #d6d4d4ab;
$number: #ffffffc9;
$operator: #ffffff5e;
$equal-sign: #a3a3a3;
$equal-sign-hover: #838282;

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	box-sizing: border-box;
	background-image: linear-gradient(
		to right,
		#eddcd2,
		#efe0d6,
		#f1e4da,
		#f4e7df,
		#f6ebe3,
		#f6ebe3,
		#f6ebe3,
		#f6ebe3,
		#f4e7df,
		#f1e4da,
		#efe0d6,
		#eddcd2
	);
}

.app {
	width: 300px;
	height: 400px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(70, 70, 70, 0.6);
	box-sizing: border-box;
	background-color: $primary;
}

.input-area {
	height: 154px;
}

.input-container {
	position: relative;
	top: 60px;
	padding-right: 10px;
	text-align: right;
}

.input-top {
	font-size: 13px;
	color: #808080;
	letter-spacing: 3px;
	position: relative;
}

.input-result {
	width: 280px;
	position: absolute;
	top: 15px;
	right: 10px;
	font-size: 40px;
	font-weight: 700;
	overflow-x: auto;
	
	&::-webkit-scrollbar {
		width: 0;
	}
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	height: calc(400px - 158px);
	padding: 0 2px 2px 2px;
}

.button {
	background-color: $number;
	border: none;
	outline: none;
	font-weight: 550;

	&:hover {
		background-color: $primary-hover;
	}
}

.operator,
.parenthesis {
	background-color: $operator;
	font-weight: 400;

	&:last-child {
		background-color: $equal-sign;

		&:hover {
			background-color: $equal-sign-hover;
		}
	}
}

.reset {
	background-color: $number;
	font-weight: 550;
}
