$primary-color: #e9e9e9;
$primary-hover: #d6d4d4ab;
$number-color: #ffffffc9;
$operator-color: #ffffff5e;
$equal-sign-color: #a3a3a3;
$equal-sign-color-hover: #838282;

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	box-sizing: border-box;
	background-image: linear-gradient(
		to right,
		#eddcd2,
		#efe0d6,
		#f1e4da,
		#f4e7df,
		#f6ebe3,
		#f6ebe3,
		#f6ebe3,
		#f6ebe3,
		#f4e7df,
		#f1e4da,
		#efe0d6,
		#eddcd2
	);
}

.app {
	width: 300px;
	height: 400px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(70, 70, 70, 0.6);
	box-sizing: border-box;
	background-color: $primary-color;
}

.input-area {
	height: 154px;
	direction: rtl;
}

.input-container {
	position: relative;
	top: 60px;
    padding-right: 10px;
}

.input-top {
	font-size: 15px;
	color: #808080;
}

.input-result {
	font-size: 30px;
	margin-top: 10px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	height: calc(400px - 158px);
	padding: 0 2px 2px 2px;
}

.button {
	background-color: $number-color;
	border: none;
	outline: none;

	&:hover {
		background-color: $primary-hover;
	}
}

.operator {
	background-color: $operator-color;

	&:last-child {
		background-color: $equal-sign-color;

		&:hover {
			background-color: $equal-sign-color-hover;
		}
	}
}

.reset {
	background-color: $number-color;
}
